.contact_me__content {
    margin: 0 auto;
    max-width: 960px;
    padding: 64px 1.0875rem 1.45rem;
    color: #95A5A6;
    font-weight: bold;
}

.form-control  {
    background-color: #2C3E50;
    border: 1px solid #7F8C8D;
    border-radius: 0;
    box-shadow: none;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

    color: #7F8C8D;
}


.form-control:focus {
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
    border-bottom: 3px solid #7F8C8D;
    box-shadow: none;
    color: #7F8C8D;
}

.btn{
    border-radius: 0;
    font-weight: bold;
    background-color: #2980B9;
    border:0;
}

.btn:hover {
    background-color: #3498DB;
}


#contact_me__submit {
    margin-right: 15px;
    margin-top: 1rem;
    padding: 5px 25px;
}


.was-validated .form-control:invalid {
    border-color: #8E44AD !important;    
}

.was-validated .invalid-feedback {
    color: #8E44AD !important;
}

