.navbar {
    background-color: white;
}


.profile-text {
    font-size: 36px;    
    margin-top: 50px;
}

#profile-img {
    width: 300px;
    height: 500px;
    overflow: hidden;

    padding: 30px;
}

#aboutme {
    height: 85%;
    padding-top: 80px;
    margin-bottom: 40px;
}

#aboutMeText{
    margin: 0px auto; 
    height: 85%;
}

#bio {
    background: linear-gradient(45deg, rgb(82, 56, 146) 12%, transparent 0, transparent 88%, rgb(82, 56, 146) 0),
    linear-gradient(135deg, transparent 37%, rgb(63, 44, 112) 0, rgb(63, 44, 112) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, rgb(63, 44, 112) 0, rgb(63, 44, 112) 63%, transparent 0) rgb(63, 44, 112);
    background-size: 25px 25px;background-size: 20px 20px;
    color: rgb(63, 44, 112);
    width:100%;
    margin: 0;
    padding: 120px;
}

#bio h1{ 
    font-size: 72px;
    padding:  20px 100px;    
}
#bio ul{
    list-style: none;
    font-size: 28px;
    padding: 20px 100px;
    
}
#bio li {
    width: 100%;
}

#Experience {
    background-color: rgb(55, 55, 78);
    color: #ABABAB;
}
#Experience h1 {
    padding-top: 40px;
}
#Experience ul {
    padding: 80px;
}
#Experience li {
    margin-top: 8px;
}