.navbar {
    background-color: white;
}
.navbar-brand,
.navbar-nav li a {
  height: 76px;
  line-height: 76px;
  padding-top: 0;
}

.profile-text {
    font-size: 36px;    
    margin-top: 50px;
}

#aboutme {
    height: 45%;
    padding-top: 80px;
    margin-bottom: 40px;
}

#aboutMeText{
    margin: 0px auto; 
    height: 85%;
}

#expertise {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px;
}
.subList {
    color: #bdc3c7;
    list-style: none;
}

#howCanIHelp .row h3{
    text-align:center;
    width: 100%;
    margin: 40px 0px 10px 0px;
}

#howCanIHelp .row span{
    text-align:center;
    width: 100%;
}

#howCanIHelp_Title2 {
    margin-bottom: 10px;
}

#contact {
    background-color: #25476a;
    color: white;
}
#contact-header {
    text-align: center;
    width: 100%;
    margin: 72px 0px 32px 0px;
}
#contact #contact-form {
    width: 50%;
    margin: 20px auto;
}
#contact-form-submitted {
    display: none;
}

#contact-form-submitted {
    text-align: center;
    width: 100%;
    margin: 30px 0px 60px 0px;
}