.navbar {
    background-color: white;
}
.navbar-brand,
.navbar-nav li a {
  height: 76px;
  line-height: 76px;
  padding-top: 0;
}

.profile-text {
    font-size: 36px;    
    margin-top: 50px;
}

#aboutme {
    height: 45%;
    padding-top: 80px;
    margin-bottom: 40px;
}

#aboutMeText{
    margin: 0px auto; 
    height: 85%;
}

#bio {
    width:100%;
    margin: 0;
}
#bio .card{
    border-radius: 0px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#bio a {
    color:black;
    font-size: 64px;
    padding: 0px 40px;
}




#Experience h1{
    text-align: left;
    padding: 100px 60px; 
}
#Experience ul { list-style: none;  }
#Experience .card {
    
    border-radius: 0px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;   
}

#Experience .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
