#main-content {
    margin-top: 126px;;
    display:grid;
    grid-template-columns: 200px 700px auto;
    
}


@media (max-width : 1000px) {
    #main-content {
        grid-template-columns: auto 700px auto;
    }
}

@media (max-width : 720px) {
    #main-content {
        grid-template-columns: 0px 100% 0px;
        margin: 96px 16px;
    }
}

#main-content__center {
    grid-column-start: 2;
}

.title__content {
    display: grid;
    grid-template-columns: 75px auto;
}


.title__text h3 {
    margin: 0;
    font-weight: 400;
}

.content__panel li {
    list-style: none;
}
.content__panel li svg {
    margin-right: 8px;
}

.subscription_submitted__success {
    color:#8E44AD
}