.custom_horizontal_bar {
    background: rgb(62,201,144);
    background: linear-gradient(90deg, rgba(62,201,144,1) 0%, rgba(88,200,208,1) 70%);
    padding: 3px;
}


@media (max-width : 720px) {
    .custom_horizontal_bar{
        margin: 0px 19px;
    }
}