.navbar {
    background-color: #2C3E50;
    font-family: "Open Sans";
    z-index: -10;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 32px;
}

.navbar-nav a{
    color: #DDD !important;
    font-size: 16px;
}
