.project__panel {
    background-color: white;
    font: "Open Sans"
}

.project__content {

    margin: 0 auto;
    max-width: 960px;
    padding: 96px 1.0875rem 1.45rem;
}
.project__panel h3 {
    color: #2C3E50;
    font-size: 28px;
}
.project_item__panel {
    padding: 10px;
    color: white;
}

.project_item__content {
    background-color: #ECF0F1;
    height: 300px;
}

.project_item__content:hover {
    background-color: #222;
}