.about_me_summary__panel {
    margin: 56px 32px 198px 32px;
    opacity: 0;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
}
.show {
    opacity: 1;
}
.about_me_summary__text {
    margin: 8px 0px;
    color: #CCC;

}
.about_me_summary__text b{
    color:  #EFEFEF ;
}
.about_me_summary__icon_links a{
    margin-top: 18px;
    margin-right: 12px;
}